fastapi
uvicorn[standard]
pydantic
pydantic-settings
pydantic[email]
sqlalchemy
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
langchain
langchain-core
langchain-google-genai
chromadb
python-dotenv
PyPDF2
psycopg2-binary
python-docx
redis
